{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "printWidth": 80,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
